body {
    padding-top: 5rem;
}

.table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #eff0f2;
}

.text-color-grey {
    color: grey;
}

th {
    text-transform: uppercase;
}

.invalid-feedback {
    display: inherit;
}